# Copy to local-dev.cfg
# Usage: python -m tests.baseline_test --flagfile=config/local-dev.cfg

# Import common settings
--flagfile=config/common.cfg

# Project settings
--project=easwars-gke-dev
--gcp_service_account=1013001128726-compute@developer.gserviceaccount.com
--private_api_key_secret_name=projects/1013001128726/secrets/psm-security-testing-private-api-access-key

# The name of kube context to use. See `gcloud container clusters get-credentials` and `kubectl config`
--kube_context=default

--namespace=easwars-psm-test
--server_xds_port=1337

# Test images, f.e. java v1.35.x:
--server_image=gcr.io/grpc-testing/xds-interop/java-server:d12ac30cde0c4d7f03ade13de177ad96c501ff79
--client_image=gcr.io/grpc-testing/xds-interop/java-client:d12ac30cde0c4d7f03ade13de177ad96c501ff79

# Uncomment for verbose output
#--logger_levels=__main__:DEBUG,framework:DEBUG
#--verbosity=1

# Enable port forwarding in local dev
--debug_use_port_forwarding
# (convenience) Allow to set always known flags
--undefok=private_api_key_secret_name
